@import "./components" ;

.contPrinsipal {
    display: grid ;
    grid-template-columns: 20% 80% ;

    .menuNavigation {

        .logo {
            margin: solid 2px black ;
            width:30px ;
            height: 30px ;
            display: inline ;
            margin-left: 50px ;
            margin-top: 20px ;
        }

        .titleNav {
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: 25px ;
            font-weight: bold ;
            color: black ;
            display: inline ;
        }

        .menuUl {
            margin-left: -13px;
            width: 80% ;
            .menuLi {
                list-style-type: none ;
                .btnLi {
                    @include btnmenu ;
                }
            }
        }

        .contDownload {

            .imgDownload {}

            .titleDownload {}

            .textDownload {}

            .btnDownload {}
        }
    }
}
