.main {
    background-color: whitesmoke;

    .mainImg {
        object-fit: cover;
        width: 100% ;
        height: 100px;
    }

    .logoMain {
        width: 90px ;
        height: 90px ;
        background-color:whitesmoke ;
        display: inline-block ;
        margin-left: 40% ;
        margin-top: -55px ;
        padding: 10px ;
        border-radius: 45px;
    }

    .divMoodDark {
        position: absolute ;
        margin-top: -60px ;
        margin-left: 54% ;

        .btnDay{
            width: 50px;
            height: 37px;
            border: none;
            border-radius: 15px 0px 0px 15px ;
            background-color: #3498db;

            .imgDay {
                width: 30px ;
                height: 30px ;
            }
        }
        .btnDay:hover {
            background-color:#37a4ee ;
        }

        .btnNight {
            width: 50px ;
            height: 37px;
            margin-left: -5px ;
            border: none ;
            border-radius: 0px 15px 15px 0px ;
            background-color: #102F43;

            .imgNight {
                width: 30px ;
                height: 30px ;
            }
        }
        .btnNight:hover {
            background-color:#17425d ;
        }
    }

    .containerMain {
        margin-left: 50px ;
        width: 1000px;

        .titleMain {
            font-family: sans-serif ;
            font-size: 27px ;
            font-weight: bold ;
            color: black ;
            margin-top: 10px ;
        }

            .inputList {
                width: 320px ;
                height: 47px ;
                display: inline ;
                font-family: sans-serif ;
                font-size: 15px ;
                font-weight: normal;
                color: grey ;
                background-color: white ;
                border: solid 1px grey ;
                border-radius: 5px ;
            }

            .numberList {
                width: 100px ;
                height: 47px ;
                display: inline ;
                font-family: sans-serif ;
                font-size: 15px ;
                font-weight: normal ;
                color: grey ;
                background-color: white ;
                border: solid 1px grey ;
                border-radius: 5px ;
            }

            .addElementList {
                font-family: sans-serif ;
                font-size: 15px ;
                font-weight: 400 ;
                color: white ;
                background-color: blue;
                border: none;
                border-radius: 5px ;
                width: 250px ;
                height: 50px ;
                display: inline ;

                .addElementListImg {
                    width: 15px ;
                    height:  15px ;
                    vertical-align: middle;
                    margin-right: 5px ;
                }
            }

            .deleteList {
                font-family: sans-serif ;
                font-size: 15px ;
                font-weight: normal ;
                color: black ;
                background-color: red ;
                border: none ;
                border-radius: 5px ;
                padding: 17px ;
                width: 180px ;

                .deleteListImg {
                    width: 15px ;
                    height: 15px ;
                    vertical-align: middle ;
                    margin-right: 5px;
                }
            }

            .textCountList1 {
                font-family: sans-serif ;
                font-size: 14px ;
                font-weight: normal ;
                color: grey ;
            }

            .textCountList2 {
                font-family: sans-serif ;
                font-size: 16px ;
                font-weight: bold ;
                color: blue ;
            }

        .spanbtn {
            display: block;
            height: 13px ;
        }
        .elementList1 {
            @include btnList ;
            margin-left: 0px ;
        }
        .elemtntList2 {
            @include btnList ;
        }
        .elemtntList3 {
            @include btnList ;
        }
        .elemtntList4 {
            @include btnList ;
        }
        .elemtntList5 {
            @include btnList ;
        }
        .elemtntList6 {
            @include btnList ;
        }
        .elementList7 {
            @include btnList ;
        }
    }
}
