$media-small-xs: 200px;
$media-small: 575px;
$media-medium: 990px;
$media-tall: 1200px;

// Media Desktop Small
@media screen and (min-width: $media-medium) and (max-width: $media-tall) {
    .contPrinsipal {
        .menuNavigation {
            .logo {
                display: block ;
                margin: auto;
                margin-top: 35px ;
            }
            .titleNav {
                margin-left: 16% ;
            }
        }
        .main {
            .containerMain {
                .elementList7 {
                    display: none ;
                }
            }
        }
    }
}


// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {
    .contPrinsipal {
        display: block ;
        margin: auto;
    }
    .menuNavigation {
        display: none ;
    }
    .contBurger {
        @include menuTheBurger ;
    }
    #divMoodDark {
        margin-left: 76%;
    }
    .containerMain{
        padding-bottom: 30px;

        #inputList {
            width: 45%;
        }
        #numberList {
            width: 35%;
        }
        .spanAdd {
            display: block;
            height: 5px;
        }
        #addElementList {
            width: 45.8%;
        }
        #deleteList {
            width: 35.5%;
        }
    }
    .elemtntList6 {
        display: none ;
    }
    .elemtntList5 {
        display: none ;
    }
    .elemtntList4 {
        display: none ;
    }
}

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {
    .contPrinsipal {
        display: block ;
        margin: auto;
    }
    .menuNavigation {
        display: none ;
    }
    #divMoodDark {
        display: none ;
    }
    .contBurger {
        @include menuTheBurger ;
    }
    .mainImg {
    }
    .containerMain{
        padding-bottom: 30px;
        margin-left: 3%;
        margin-right: 3%;

        #inputList {
            width: 48%;
        }
        #numberList {
            width: 35%;
        }
        .spanAdd {
            display: block;
            height: 5px;
        }
        #addElementList {
            width: 49%;
        }
        #deleteList {
            width: 35.5%;
        }
    }
    .elemtntList4 {
        display: none;
    }
    .elemtntList5 {
        display: none ;
    }
    .elemtntList6 {
        display: none ;
    }
    .elementList7 {
        display: none ;
    }
    .titleMain3 {
        display: none ;
    }
}
