@mixin menuTheBurger {
    display: block ;
    height: 40px ;
    background-color: blue ;
    text-align: end;

    .btnMenuBurger {
        position: relative ;
        width: 30px ;
        height: 30px ;
        margin-right: 20px ;
        background: transparent ;
        border: none ;

        .imgMenuBurger {
            width: 30px ;
            height: 30px ;
        }
    }
}