@mixin btnModeDark {
    position: absolute ;
margin-top: -60px ;
margin-left: 65% ;

.btnDay{
    width: 50px;
    height: 37px;
    border: none;
    border-radius: 15px 0px 0px 15px ;
    background-color: #3498db;

    .imgDay {
        width: 30px ;
        height: 30px ;
    }
}
.btnDay:hover {
    background-color:#37a4ee ;
}

.btnNight {
    width: 50px ;
    height: 37px;
    margin-left: -5px ;
    border: none ;
    border-radius: 0px 15px 15px 0px ;
    background-color: #102F43;

    .imgNight {
        width: 30px ;
        height: 30px ;
    }
}
.btnNight:hover {
    background-color:#17425d ;
}
}

