body {
  margin: 0;
  padding: 0;
}

.contPrinsipal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
  grid-template-columns: 20% 80%;
}
.contPrinsipal .menuNavigation .logo {
  width: 30px;
  height: 30px;
  display: inline;
  margin-left: 10%;
  margin-top: 35px;
  margin-right: 5%;
}
.contPrinsipal .menuNavigation .titleNav {
  font-family: cursive;
  font-size: 25px;
  font-weight: bold;
  color: black;
  display: inline;
}
.contPrinsipal .menuNavigation .menuUl {
  margin-top: 50px;
  width: 74%;
}
.contPrinsipal .menuNavigation .menuUl .menuLi {
  list-style-type: none;
}
.contPrinsipal .menuNavigation .menuUl .menuLi .btnLi {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: blue;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: start;
  padding-left: 17%;
}
.contPrinsipal .menuNavigation .menuUl .menuLi .btnLi .imgBtnLi {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
.contPrinsipal .menuNavigation .contDownload {
  text-align: center;
  padding: 20px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  background-color: whitesmoke;
  border-radius: 15px;
}
.contPrinsipal .menuNavigation .contDownload .titleDownload {
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.contPrinsipal .menuNavigation .contDownload .textDownload {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
}
.contPrinsipal .menuNavigation .contDownload .btnDownload {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.contPrinsipal .menuNavigation .contDownload .btnDownload .btnImgDownload {
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

.main {
  background-color: whitesmoke;
  width: 100%;
}
.main .btnMenuBurger {
  position: absolute;
}
.main .mainImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100px;
  position: relative;
}
.main .logoMain {
  width: 90px;
  height: 90px;
  background-color: whitesmoke;
  display: inline-block;
  margin-left: 40%;
  margin-top: -55px;
  padding: 10px;
  border-radius: 45px;
  position: relative;
}
.main .divMoodDark {
  position: absolute;
  margin-top: -60px;
  margin-left: 65%;
}
.main .divMoodDark .btnDay {
  width: 50px;
  height: 37px;
  border: none;
  border-radius: 15px 0px 0px 15px;
  background-color: #3498db;
}
.main .divMoodDark .btnDay .imgDay {
  width: 30px;
  height: 30px;
}
.main .divMoodDark .btnDay:hover {
  background-color: #37a4ee;
}
.main .divMoodDark .btnNight {
  width: 50px;
  height: 37px;
  margin-left: -5px;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background-color: #102F43;
}
.main .divMoodDark .btnNight .imgNight {
  width: 30px;
  height: 30px;
}
.main .divMoodDark .btnNight:hover {
  background-color: #17425d;
}
.main .containerMain {
  margin-left: 5%;
  width: 100%;
}
.main .containerMain .titleMain {
  font-family: sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
.main .containerMain .inputList {
  width: 35%;
  height: 47px;
  display: inline;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: grey;
  background-color: white;
  border: solid 1px grey;
  border-radius: 5px;
}
.main .containerMain .numberList {
  width: 100px;
  height: 47px;
  display: inline;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: grey;
  background-color: white;
  border: solid 1px grey;
  border-radius: 5px;
}
.main .containerMain .addElementList {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  width: 26%;
  height: 50px;
  display: inline;
}
.main .containerMain .addElementList .addElementListImg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.main .containerMain .deleteList {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: black;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 17px;
  width: 17%;
}
.main .containerMain .deleteList .deleteListImg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
.main .containerMain .textCountList1 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: grey;
}
.main .containerMain .textCountList2 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.main .containerMain .spanbtn {
  display: block;
  height: 13px;
}
.main .containerMain .elementList1 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
  margin-left: 0px;
}
.main .containerMain .elementList1 .imgElementList {
  margin-left: 5px;
}
.main .containerMain .elemtntList2 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
}
.main .containerMain .elemtntList2 .imgElementList {
  margin-left: 5px;
}
.main .containerMain .elemtntList3 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
}
.main .containerMain .elemtntList3 .imgElementList {
  margin-left: 5px;
}
.main .containerMain .elemtntList4 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
}
.main .containerMain .elemtntList4 .imgElementList {
  margin-left: 5px;
}
.main .containerMain .elemtntList5 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
}
.main .containerMain .elemtntList5 .imgElementList {
  margin-left: 5px;
}
.main .containerMain .elemtntList6 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
}
.main .containerMain .elemtntList6 .imgElementList {
  margin-left: 5px;
}
.main .containerMain .elementList7 {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: grey;
  background-color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  margin: 0px 7px 0px 10px;
}
.main .containerMain .elementList7 .imgElementList {
  margin-left: 5px;
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .contPrinsipal .menuNavigation .logo {
    display: block;
    margin: auto;
    margin-top: 35px;
  }
  .contPrinsipal .menuNavigation .titleNav {
    margin-left: 16%;
  }
  .contPrinsipal .main .containerMain .elementList7 {
    display: none;
  }
}
@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
  .contPrinsipal {
    display: block;
    margin: auto;
  }
  .menuNavigation {
    display: none;
  }
  .contBurger {
    display: block;
    height: 40px;
    background-color: blue;
    text-align: end;
  }
  .contBurger .btnMenuBurger {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background: transparent;
    border: none;
  }
  .contBurger .btnMenuBurger .imgMenuBurger {
    width: 30px;
    height: 30px;
  }
  #divMoodDark {
    margin-left: 76%;
  }
  .containerMain {
    padding-bottom: 30px;
  }
  .containerMain #inputList {
    width: 45%;
  }
  .containerMain #numberList {
    width: 35%;
  }
  .containerMain .spanAdd {
    display: block;
    height: 5px;
  }
  .containerMain #addElementList {
    width: 45.8%;
  }
  .containerMain #deleteList {
    width: 35.5%;
  }
  .elemtntList6 {
    display: none;
  }
  .elemtntList5 {
    display: none;
  }
  .elemtntList4 {
    display: none;
  }
}
@media screen and (max-width: 575px) and (orientation: portrait) {
  .contPrinsipal {
    display: block;
    margin: auto;
  }
  .menuNavigation {
    display: none;
  }
  #divMoodDark {
    display: none;
  }
  .contBurger {
    display: block;
    height: 40px;
    background-color: blue;
    text-align: end;
  }
  .contBurger .btnMenuBurger {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background: transparent;
    border: none;
  }
  .contBurger .btnMenuBurger .imgMenuBurger {
    width: 30px;
    height: 30px;
  }
  .containerMain {
    padding-bottom: 30px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .containerMain #inputList {
    width: 48%;
  }
  .containerMain #numberList {
    width: 35%;
  }
  .containerMain .spanAdd {
    display: block;
    height: 5px;
  }
  .containerMain #addElementList {
    width: 49%;
  }
  .containerMain #deleteList {
    width: 35.5%;
  }
  .elemtntList4 {
    display: none;
  }
  .elemtntList5 {
    display: none;
  }
  .elemtntList6 {
    display: none;
  }
  .elementList7 {
    display: none;
  }
  .titleMain3 {
    display: none;
  }
}